Django==3.1.7
django-cors-headers==3.5.0
django-filter==2.4.0
django-nested-inline==0.4.2
djangorestframework==3.12.2
djangorestframework_simplejwt==4.6.0
drf-yasg==1.20.0
epaycosdk==3.0.2
Pillow==8.1.0
psycopg2-binary==2.8
python-decouple==3.3
epaycosdk==3.0.2